Declare @BusinessDate Date = '2019-06-01'

select 
	
	 L.MIS_DATE
	,L.[@ID]
	,L.[ACCOUNT]
	,L.[BRANCH_CO_MNE]
	,L.INTERNAL_AMT
	,L.INTERNAL_AMT_LCY
	,L.UTILISED_AMT
	,L.UTILISED_AMT_LCY
	,L.ADVISED_AMOUNT
	,L.ADVISED_AMT_LCY
	,CAST(ISNULL(L.ONLINE_LIMIT,0) as DECIMAL(19,2)) ONLINE_LIMIT
	,L.ONLINE_LIMIT_LCY
	,L.MAXIMUM_TOTAL
	,L.MAXIMUM_TOTAL_LCY
	,CAST(ISNULL(L.AVAIL_AMT,0) as DECIMAL(19,2)) AVAIL_AMT
	,L.ORIGINAL_LIMIT
	

	from bs.LIMIT L
	where L.MIS_DATE = @BusinessDate